<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="SqlServer"
          connectionString="Data Source = FABIAN-SOLIS\SQLEXPRESS; 
                            Initial Catalog =Consulta Medica; 
                            User Id=sa; 
                            Password =soloyose"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>